
//SPACING
.p-40 {
    padding: 40px;
}

.m-40 {
    margin: 40px auto;
}


.text-center {
    text-align: center;
}

.bg-grey {
    background-color: $bg-grey;
}

.bg-black {
    background-color: #000;
}

.bg-dark-light {
    background-color: rgba( 0, 0, 0, 0.5 );
}