//COLORS
//BG-COLORS

$bg-dark: #000;
$bg-grey: #f0f0f0;
$color-primary: #55c57a;



//FONT 
$default-font-size: 1.6rem;

//Family
$padrao: "Oswald", sans-serif;

//COLOR
$color-white: #fff;
$color-black: #000;

//MARGIN 
$mb-2: 2rem;
$mg-auto: 0 auto; 

//GRID
$grid-width: 114rem; // 10 / 1140px = 114rem 
$gutter-vertical: 8rem;
$gutter-vertical-sm: 6rem;
$gutter-horizontal: 6rem;